<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="university-info">
          <h3>UNIVERSIDAD TECNOLÓGICA DE PANAMÁ</h3>
          <p><span class="material-symbols-outlined"style="font-size:14px">
            home
            </span>
            Avenida Universidad Tecnológica de Panamá, Vía Puente Centenario, Campus Metropolitano Víctor Levi Sasso.
            <br><span class="material-symbols-outlined" style="font-size:14px">
              public
              </span>
            Panamá, Ciudad de Panamá
            <br><span class="material-symbols-outlined" style="font-size:14px">
              smartphone
              </span>
            Teléfono: <span>(507) 560-3000</span>o marque gratuitamente al Centro de Atención Ciudadana 3-1-1
            <br>
          </p>
        </div>
      </div>
      <div class="col">
        <div class="language-center-info">
          <h3>CENTRO ESPECIALIZADO EN LENGUAS</h3>
          <p><span class="material-symbols-outlined"style="font-size:14px">
            home
            </span>
            Universidad Tecnológica de Panamá, Edificio de Postgrado, Piso No. 1
            <br><span class="material-symbols-outlined"style="font-size:14px">
              public
              </span>
            Panamá, Ciudad de Panamá
            <br><span class="material-symbols-outlined"style="font-size:14px">
              smartphone
              </span>
            Teléfono:<span>(507) 560-3527</span>
            <br><span class="material-symbols-outlined"style="font-size:14px">
              smartphone
              </span>
            Teléfono:<span>(507) 560-3528</span>
            <br><span class="material-symbols-outlined"style="font-size:14px">
              call
              </span>
            Fax:<span>(507) 560-3250 </span>
            <br>
          </p>
          </div>
      </div>
    </div>
  </div>
</footer>
<footer>
  <div class="bottom-bar">
    <p>Copyright &copy; Universidad Tecnológica de Panamá, Centro Especializado en Lenguas - 2024.</p>
  </div>
</footer>
  