
<div class="container" style="background-color: #dcfbff;">
    <div class="row">
        <div class="col col-3">
            <button class="simple-btn back" (click)="view.goTo('/home')">⬅ REGRESAR</button>
            <app-profile></app-profile>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="head-container">
                        <div class="head">
                            {{view.currentCurso}}
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col">
                    <div class="comments">
                      <button class="item" id="1" style="margin-left: 15px;" (click)="showComponent('repositorio')">Repositorio</button>
                      <button class="item" id="2" (click)="showComponent('notifications')">Notifications</button>
                      <div class="comments-container">
                        <app-repositorio *ngIf="activeComponent === 'repositorio'"></app-repositorio>
                        <app-notifications *ngIf="activeComponent === 'notifications'"></app-notifications>
                      </div>
                    </div>
                  </div>
                <div class="col col-3">
                    <div class="classBar">
                        <div class="profile">
                            <img src="assets/images/profile.png" alt="logo">
                            <span>Profesor:</span>
                            <div>{{view.profesor}}</div>
                        </div>
                        <div class="profiles">
                            <div class="student-profile" *ngFor="let student of view.students">
                                <img src="assets/images/profile.png" alt="logo">
                                <div>{{student.name}}</div>
                            </div>
                        </div>
                        <form *ngIf="login.type==2 || login.type==1" [formGroup]="view.form" class="upload" (ngSubmit)="view.uploadFile()">
                            <div class="form-area">
                                <h3>AÑADIR ARCHIVO</h3>
                                <div style="margin: 3px">
                                    <input
                                        formControlName="file"
                                        id="title"
                                        type="file" 
                                        (change)="view.onFileSelected($event)">
                                </div>
                                <div class="form-group">
                                    <input
                                        formControlName="description"
                                        id="title"
                                        type="text" 
                                        placeholder="Description:"
                                        class="form-input">
                                </div>
                                <button class="" type="submit">+ AGREGAR</button> 
                            </div>                       
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
        

</div>
